html {
  font-family: Georgia, serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;

}

header {
  background-color: #ffe500;
  color: #cc1465;
  margin: 0;
  padding: 0 0 0.4em;
}

body {
  background-color: #ffe500;
  color: #cc1465;
  margin: 0;
}

li {
  display: inline-block;
}

.nav a {
  list-style-type: square;
  display: block;
  background-color: #b2a212;
  color: white;
  padding:0.2em 0.5em 0.3em;
  margin: 0;
  border: 3px;
  border-radius: 5px;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
  text-align: left;
  margin: 0;
}

p {
  font-family: Georgia, sans-serif;
  color: #2f2d13;
  line-height: 1.5;
  padding: 0 0 0.4em;
}

section {
  background-color: #fff;
  list-style-type: square;
  padding: 0.2em;
}

cite {
  background-color: #ffe500;
  color: #2f2d13;
  font-size: 0.75rem;
  text-align: center;
}

.nav a:hover {
  background-color: #b20953;
}

footer {
  background-color: #ffe500;
  color: #cc1465;
  margin: 0;
}

.nav .current {
  background-color: red;
}
